.footer {
  position: static;
  bottom: 100%;
  background-color: $background-color;
  height: 50px;
  width: 100%;
  bottom: 0%;
  font-family: 'Blinker-Regular';
  display: flex;
  align-items: center;

  .footer-logo {
    margin: 0 0 0 25px;
    color: white;
  }
}