.head-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $background-color;

  width: 100%;
  font-family: blinker-regular, sans-serif;
  color: white;

  .head-block-text {
    text-align: center;
    font-size: 18px;
  }

  .head-block-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #C4C4C4;
    width: 1100px;
    height: 90px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;

    .search-form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: inherit;

      .search-bar {
        background-color: white;
        height: 68px;
        width: 885px;
        border-radius: 10px;

        input {
          border: white 1px;
          border-radius: inherit;
          height: inherit;
          font-size: 40px;
          margin-left: 20px;
          width: inherit;

        }
      }

      button {
        box-shadow: none;
        border: none;
        background-color: inherit;



        .search-bar-button {
          text-align: center;
          padding: 15px;
          background-color: #5E5E5E;
          height: 68px;
          width: 112px;
          border-radius: 10px;
          font-family: blinker-regular, sans-serif;
          font-size: 24px;
          color: white;
        }
      }
    }
  }

  .head-block-intro {
    position: relative;
    bottom: 0%;
    margin-bottom: 1%;
    text-align: center;
    font-size: 36px;
  }
}