@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;

	input,
	textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: red;
		}

		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;

	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b,
strong {
	font-weight: bold;
}

.blue-theme {

	background-color: #A9B4EB !important;



	.head-block-search {
		background-color: #9daaeb !important;

		.search-bar-button {
			background-color: #8898eb !important;
		}
	}
}

.blue-theme-main {
	background-color: #BCC3EB !important;
}

.blue-theme-body {
	background-color: #bec8f7 !important;
}







@import "header/header";
@import "header/switch";
@import "head-block";
@import "main-page";
@import "photos";
@import "footer";
@import "information-page";
@import "media"; // Always at the end