.header {
  background-color: $background-color;
  height: 100px;
  width: 100%;
  top: 0%;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
  }

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  .header-logo {
    color: white;
    width: fit-content;
    height: fit-content;
    font-family: blinker-regular, sans-serif;
    font-size: 36px;
    margin: 0px 0px 0px 25px;


  }



  .header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 25px;

    .header-search {
      margin: 0 10px 0 5px;

      .search-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 3px;
        background-color: white;
        height: 40px;

        input {
          border: none;
          margin-left: 3px;
        }

        button {
          background-color: white;
          box-shadow: none;
          border: none;
          margin-right: 3px;

          .icon {
            justify-content: right;
            background-color: inherit;

            .search {
              background-color: $background-color;
              width: 30px;
              height: 30px;
            }
          }
        }
      }


    }
  }
}