/* The switch - the box around the slider */
.header-theme {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;


  .header-theme-switch {

    position: relative;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 34px;

    input {
      display: none;
    }

    .round {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
    }

    .round:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }

    input:checked+.round {
      background-color: #2196F3;
    }

    input:focus+.round {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.round:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
}